body
{
    margin: 0 !important;
    padding: 0 !important;
}

h1 
{
    font-size:36px
}

h2
{
	font-size:30px;
}

h3
{
	font-size:24px
}

h4
{
	font-size:20px
}

h5
{
	font-size:18px
}

h6
{
	font-size:16px
}

h1,h2,h3,h4,h5,h6
{
	font-weight:400;
	margin:10px;
	letter-spacing:2px;
	font-family: Arial, Helvetica, sans-serif;
}

div.section
{
    width:100%;
    min-height:480px;
    font-family: Courier New, Helvetica, sans-serif;
}

.light-content
{
    background-color: white;
    color: black;
}

.dark-content
{
    background-color: black;
    color: white;
}

.header {
  background-color: #f1f1f1;
  text-align: center;
  min-height: 200px
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}